
<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>Home Service | Contact</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Fast Service a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/easy-responsive-tabs.css '%}" rel='stylesheet' type='text/css'/>
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="all">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="//fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

</head>
<body>
<header>
	<!-- header -->
	<div class="header-w3l">

<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="index.html">Your Homey</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="adminhom">Home </a>
		<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Service
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="addservic">Add Service</a>
          <a class="dropdown-item" href="viewservic">View Service</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Customer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="viewuser">View Customer</a>
          <a class="dropdown-item" href="adminorder">View Order</a>
        </div>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Worker
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="empview">View Worker</a>
        </div>
        <li class="nav-item">
            <a class="nav-link " href="ad_bookdt">Paid Order</a>
        </li>
</li>
        <li class="nav-item">
        <a class="nav-link " href="adminfeed">Feedback</a>
      </li>

<li class="w3">
                            <a href="index" class="nav-link">Logout</a>
                        </li>

    </ul>
  </div>
</nav>

	<!-- //header -->

	<!-- banner -->
	<!-- banner-slider -->
	<div class="w3l_banner_info">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img">
							<div class="slider_banner_info">


							</div>
						</div>
					</li>


				</ul>
			</div>
		</div>
	</div>
	<!-- //banner-slider -->
</div>
</header>

<section class="contact  py-lg-5 py-md-4 py-md-3 py-2" id="contact">
	<section class="wthree-row py-5 w3-contact" id="contact1">
		<div class="container py-md-5">
			<div class="row contact-form ">
				<div class="col-lg-6 wthree-form-left">
					<!-- contact form grid -->
					<div class="contact-top1">
			<table class="table table-stripped mt-5" border="2">
		<thead>
		<tr>
			<th>date</th>
			<th>name</th>
        	<th>email</th>
        	<th>address</th>
			<th>Location</th>
        	<th>number</th>
			<th>service_name</th>
			<th>service_price</th>
        	<th   style="text-align: center;">status</th>
<!--			<th colspan="3"  style="text-align: center;">Action</th>-->

    	</tr>
		</thead>
		<tbody>
		{% for i in da %}
		{% if i.orderdet.orderstatus != 'Delivered' %}
		<tr>
			<td>{{i.date}}</td>
			<td>{{i.user.username}}</td>
			<td>{{i.email}}</td>
        	<td>{{i.address}}</td>
			<td>{{i.location}}</td>
        	<td>{{i.number}}</td>
			<td>{{i.service.servicename}}</td>
			<td>{{i.service.price}}</td>
				<td>
		<form method="POST" action="../statusup/{{i.id}}">
			{% csrf_token %}
			<select name="status" style="margin-top: 14px;">
				<option value="Pending" {% if i.status == "Pending" %}selected{% endif %}>Pending</option>
				<option value="Accepted" {% if i.status == "Accepted" %}selected{% endif %}>Accepted</option>
				<option value="Finished" {% if i.status == "Finished" %}selected{% endif %}>Finished</option>
				<option value="Cancelled" {% if i.status == "Cancelled" %}selected{% endif %}>Cancelled</option>
			</select>
			<button type="submit" class="fa fa-send-o" style="margin-top: 10px;color:blue; margin-left: 16px;">Done</button>
		</form>
	</td>
<!--			<td><a href="../u_bookreq_cancel/{{i.pk}}"><input type="submit" class="ml-lg-3 mt-lg-0 mt-3 btn btn-warning " value="cancel"></a></td>-->
<!--			{% if i.status == 'Accepted' %}-->
<!--			<td><a href="../razor_pay/{{i.w.s_price}}"><input type="submit" class="ml-lg-3 mt-lg-0 mt-3 btn btn-primary " value="payment"></a></td>-->
<!--			{%endif%}-->
<!--			{% if i.status == 'Accepted' or i.status == 'Finished' %}-->
<!--			<td><a href="../send_review_form/{{i.pk}}"><input type="submit" class="ml-lg-3 mt-lg-0 mt-3 btn btn-info " value="send review"></a></td>-->
<!--			{%endif%}-->

		</tr>
		{% endif %}

		{% endfor %}
		</tbody>
	</table>
					</div>
					<!--  //contact form grid ends here -->
				</div>
			</div>
			<!-- //contact details container -->
		</div>
	</section>
	</section>
	<!-- //contact -->
<!---->

<!-- Footer-->
<section class="footer">
<div class="container">
<h3>Your Homey</h3>
     <div class="wrapper">
<ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
<li> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
<li> <a href="#"><i class="fab fa-twitter"></i></a></li>
<li> <a href="#"><i class="fab fa-linkedin-in"></i></a></li>
</ul>
</div>
<div class="copyright">
			<p>© 2024 Your Homey. All Rights Reserved | Design by Jewel</a></p>

		</div>
	</div>
</section>
<script  src="{% static 'js/jquery.min.v3.js' %}"></script>
<script  src="{% static 'js/bootstrap.min.js' %}"></script>
<script  src="{% static 'js/move-top.js' %}"></script>
<script  src="{% static 'js/easing.js' %}"></script>
<script  src="{% static 'js/SmoothScroll.min.js' %}"></script>


   <!-- sign in and signup pop up toggle script -->
    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
    <!-- sign in and signup pop up toggle script -->

<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
	<!-- //here ends scrolling icon -->
<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<script type="text/javascript">
	$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
</body>
</html>