<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>Admin  | Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Fast Service a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css'/>
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'css/style_common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="//fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">


</head>
<body>
<header>
	<!-- header -->
	<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="index.html">Your Homey</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="../adminhom">Home </a>
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Service
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../addservic">Add Service</a>
          <a class="dropdown-item" href="../viewservic">View Service</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Customer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../viewuser">View Customer</a>
          <a class="dropdown-item" href="typography.html">Customer Review</a>

          <a class="dropdown-item" href="error.html">View Order</a>
        </div>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Worker
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../empview">View Worker</a>
          <a class="dropdown-item" href="typography.html">View Work</a>
        </div>
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link " href="con">Contact</a>-->
<!--      </li>-->

<li class="w3">
                            <a href="../index" class="nav-link">Logout</a>
                        </li>

    </ul>
  </div>
</nav>
	<style>



body {font-family: Arial, Helvetica, sans-serif;}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>



	<!-- //header -->

	<!-- banner -->
	<!-- banner-slider -->
	<div class="w3l_banner_info">
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">


					<li>
						<div class="slider-img">
							<div class="slider_banner_info">
							<div class="text" style="position:absolute;left:800px;top:250px">







<!--content start-->


<div class="admin">
                    <h1 align="center" style="color:white; font-weight:bold;font-size:70px;">Edit Serviices</h1>
</div>

            {% if messages %}
			<div class="container">
			<div class="alert alert-success alert-dismissible messages">
    		{% for message in messages %}
    		<button type="button" class="close" data-dismiss="alert">x</button>
     			{{message}}
  			</div>
     		{% endfor %}
			</div>
			{% endif %}
                                <div class="map-full" style="margin-top:50px;">
                                    <div class="contact-form">
                                        <div class="container-fluid">
                                            <form action="../edit_services/{{d.id}}" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <b style="color:white;">Image:</b><img src="{{d.image.url}}" height="170px;" width="170px;"><br><br>
                                                <b style="color:white;">Service Name:</b><input type="text" value="{{d.servicename}}" name="s_name" required><br><br>
                                                <b style="color:white;">Description:</b><input value="{{d.description}}" name="sdescription" required><br><br>
                                                <b style="color:white;">Price:</b><input type="number" value="{{d.price}}" name="s_price" required>
                                                <button type="submit" style="background-color: #003c61; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-size: 16px; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#0056b3'" onmouseout="this.style.backgroundColor='#007BFF'">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
<!--                        <div class="form-group">-->
<!--                            <label  style="color:black;font-weight:bold;font-size:16px;">Image</label><br>-->
<!--                            <img src="{{d.image.url}}" width="100" height="100">-->
<!--&lt;!&ndash;                                   <input type="file" class="form-control" id="cimg" name="cs_img" required>&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="cname" style="color:black;font-weight:bold;font-size:16px;">Service Name</label>-->
<!--                            <input type="text" id="cname" name="s_name"  value="{{d.servicename}}" required>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="cdes" style="color:black;font-weight:bold;font-size:16px;">Service Description</label>-->
<!--                            <textarea class="form-control" id="cdes" name="sdescription" rows="3"   required>{{d.description}}</textarea>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="cname" style="color:black;font-weight:bold;font-size:16px;">Price</label>-->
<!--                            <input type="text" class="form-control" id="sprice" name="s_price"  value="{{d.price}}" required>-->
<!--                        </div>-->
<!--                              <br>-->
<!--                               <button type="submit" style="background-color: #003c61; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-size: 16px; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#0056b3'" onmouseout="this.style.backgroundColor='#007BFF'">Submit</button>-->
                   
            
<!--    content end-->

								</div>

							</div>
			</div>
                    </li>
                </ul>
		</div>
	</div>
	<!-- //banner-slider -->
</div>
</header>
</section>












<!-- /Conatct -->
<!-- Footer-->
<section class="footer">
<div class="container">
<h3>Your Homey</h3>
     <div class="wrapper">
<ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
<li> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
<li> <a href="#"><i class="fab fa-twitter"></i></a></li>
<li> <a href="#"><i class="fab fa-linkedin-in"></i></a></li>
</ul>
</div>

<script  src="{% static 'js/jquery.min.v3.js' %}"></script>
<script  src="{% static 'js/bootstrap.min.js' %}"></script>
<script  src="{% static 'js/move-top.js' %}"></script>
<script  src="{% static 'js/easing.js' %}"></script>
<script  src="{% static 'js/SmoothScroll.min.js' %}"></script>

	<!-- banner Slider -->
	<script src="{% static 'js/responsiveslides.min.js' %}"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider3").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!-- //banner Slider -->


	<script src="{% static 'js/easy-responsive-tabs.js' %}"></script>
<script>
$(document).ready(function () {
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);
$name.text($tab.text());
$info.show();
}
});
$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});
</script>
<!--//tabs-->
	<!--team-->
<script type="text/javascript">
							$(window).load(function() {
								$("#flexiselDemo1").flexisel({
									visibleItems:4,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: {
										portrait: {
											changePoint:480,
											visibleItems: 1
										},
										landscape: {
											changePoint:640,
											visibleItems:2
										},
										tablet: {
											changePoint:768,
											visibleItems: 3
										}
									}
								});

							});
					</script>
				<script type="text/javascript" src="js/jquery.flexisel.js"></script>

<!--team-->
<script src="{% static 'js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});

						});
				</script>
<script type="text/javascript">
var words = document.getElementsByClassName('word');
var wordArray = [];
var currentWord = 0;

words[currentWord].style.opacity = 1;
for (var i = 0; i < words.length; i++) {
  splitLetters(words[i]);
}

function changeWord() {
  var cw = wordArray[currentWord];
  var nw = currentWord == words.length-1 ? wordArray[0] : wordArray[currentWord+1];
  for (var i = 0; i < cw.length; i++) {
    animateLetterOut(cw, i);
  }

  for (var i = 0; i < nw.length; i++) {
    nw[i].className = 'letter behind';
    nw[0].parentElement.style.opacity = 1;
    animateLetterIn(nw, i);
  }

  currentWord = (currentWord == wordArray.length-1) ? 0 : currentWord+1;
}

function animateLetterOut(cw, i) {
  setTimeout(function() {
        cw[i].className = 'letter out';
  }, i*80);
}

function animateLetterIn(nw, i) {
  setTimeout(function() {
        nw[i].className = 'letter in';
  }, 340+(i*80));
}

function splitLetters(word) {
  var content = word.innerHTML;
  word.innerHTML = '';
  var letters = [];
  for (var i = 0; i < content.length; i++) {
    var letter = document.createElement('span');
    letter.className = 'letter';
    letter.innerHTML = content.charAt(i);
    word.appendChild(letter);
    letters.push(letter);
  }

  wordArray.push(letters);
}

changeWord();
setInterval(changeWord, 4000);

</script>

	<!-- stats -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/jquery.countup.js' %}"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats -->
<!-- skills -->
<script src="{% static 'js/skill.bars.jquery.js' %}"></script>
<script>
	$(document).ready(function(){

		$('.skillbar').skillBars({
			from: 0,
			speed: 4000,
			interval: 100,
			decimals: 0,
		});

	});
</script>
<!-- //skills -->
   <!-- sign in and signup pop up toggle script -->
    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
    <!-- sign in and signup pop up toggle script -->
	<script type="text/javascript">
	var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
	</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
	<!-- //here ends scrolling icon -->
<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<script type="text/javascript">
	$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
<!-- //scrolling script -->
<!--//start-smoth-scrolling -->

</div>
</section>
</body>
</html>






